body {
 border: 1px solid #f00;
 margin: 0;
 padding: 0;
 width: 240px;
 height: 280px;
}

button,
#key-code {
  margin: 30px;
  height: 30px;
  width: auto;
  background-color: #fff;
}

button:focus {
  background-color: #000;
  color: #fff;
}